<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">編集する</h1>
    <%# <%= form_tag("/tasks/#{@task.id}/update",{multipart: true}) do %>
    <%= form_with(model: @task, url:"/tasks/#{@task.id}/update", local: true) do |form| %>
      <div class="form">
        <div class="form-body">

          <%# エラーメッセージの表示 %>
          <% @task.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>

          <%# ▼登録した人%>
          ▼タスク内容
          <%= form.text_area :content,{class: "input"} %>
          
          ▼担当者
          <%# <%= form.text_field :doer,{class: "input"} %>
          <%= form.collection_select :doer, @user, :id, :name, {:include_blank => '選択してください'}, {class: 'input-new-selectbox'}%>

        
          ▼納期
          <%= form.date_field :deadline,{class: "input"} %>

          ▼イメージ画像
          <%= form.file_field :image, {class: "input"} %>
          <%= form.submit "登録" , {class: "input"}%>
        </div>
      </div>
    <% end %>
  </div>
</div>