<div class="main posts-index">
  <div class="container">
    
    <ul class="posts-tabs">
      <li class="active"><%= sort_link(@q,:deadline,"【納期】で並び替え") %></li>
      <li><%= link_to("詳細検索", "/tasks/index/search") %></li>
    </ul>
    
    <% @tasks.each do |task| %>
      <div class="posts-index-item">
        <div class="post-left">

          <%# アソシエーション対応済み %>
          <%# <% @user = User.find_by(id: task.user_id) %> 
        
          <img src="<%= "/task_images/#{task.image_name}" %>">
        </div>
        <div class="post-right">
          <div class="post-user-name">
            <%= link_to("登録ユーザー：#{task.user.name}","/users/#{task.user_id}") %>
          </div>
          <div>
          <%= link_to(task.content, "/tasks/#{task.id}") %>
          </div>
        
          <div class="post-details">
            <%= "担当者：#{User.find_by(id: task.doer).name}" %>
          </div>
          <div class="post-details">
            <%= "納期：#{task.deadline.strftime("%Y年%m月%d日")}" %>
          </div>      
          <div class="post-details">
            <%= "登録日時：#{task.created_at.strftime("%Y年%m月%d日 %H時%M分") }" %>
          </div>
          <div class="post-details">
            <%= "更新日時：#{task.updated_at.strftime("%Y年%m月%d日 %H時%M分") }" %>
          </div> 
        </div>
        
        <div class="post-menus">
        <%= link_to("編集", "/tasks/#{task.id}/edit") %>
        <%= link_to("削除", "/tasks/#{task.id}/destroy",{method:"post"}) %>
        </div>
      </div>
    <% end %>
  </div>
</div>