<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">タスク化する</h1>
    <%= form_tag("/tasks/create",{multipart: true}) do %>
      <div class="form">
        <div class="form-body">

          <%# エラーメッセージの表示 %>
          <% @task.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>

          <%# ログインユーザーと登録した人の紐付け対応済み
          ▼登録した人
          <input name="user_id" value=""> 
         %>
          ▼タスク内容
          <textarea name="content"><%= @task.content %></textarea>

          ▼担当者
          <input name="doer" value="<%= @task.doer %>">

          ▼納期
          <input name="deadline" type="date" value="<%= @task.deadline %>">
          ▼イメージ画像
          <input name="image" type="file">
  
          <input type="submit" value="登録">
          
        </div>
      </div>
    <% end %>
  </div>
</div>

