<div class="main posts-index">
  <div class="container">
    
    <%# cssは「tasks/index」を踏襲。一部のみtasks/searchに記載 %>

    <ul class="posts-tabs">
      <li><%= link_to("【納期】で並び替え","/tasks/index") %></li>
      <li class="active a">詳細検索</li>
    </ul>

    <%# 検索機能のブロック %>
    <div class="posts-searchbox">
      <%= search_form_for @q, url: tasks_index_path do |f| %>
      <div class="posts-searchbox-item">
        <%= f.label :doer, "▼担当者から探す" %>
        <%# <%= f.collection_select :doer_eq, @tasks.group(:doer), :doer, :doer, {:include_blank => '指定なし'}, {class: 'input-selectbox'}%> 
        <%= f.collection_select :doer_eq, @users, :id, :name, {:include_blank => '指定なし'}, {class: 'input-selectbox'}%>

      </div>
      <div class="posts-searchbox-item">
        <%= f.label :deadline , "▼納期の範囲を指定する"%><br>
        <%= f.date_field :deadline_gteq ,class: 'input-deadline' %> 日から〜
        <%= f.date_field :deadline_lteq ,class: 'input-deadline' %> 日まで<br>
      </div>
      <div class="posts-searchbox-item">
        <%= f.label :user_id_eq, "▼登録者から探す" %>
        <%= f.collection_select :user_id_eq, @users, :id, :name, {:include_blank => '指定なし'}, {class: 'input-selectbox'}%>
      </div>
        <%= f.submit "検索", class: 'input search-btn'%>
      <% end %> 
    </div>

    <% @search_tasks.each do |task| %>
      <div class="posts-index-item">
        <div class="post-left">

          <%# <% @user = User.find_by(id: task.user_id) %> 
        
          <img src="<%= "/task_images/#{task.image_name}" %>">
        </div>
        <div class="post-right">
          <div class="post-user-name">
            <%= link_to("登録ユーザー：#{task.user.name}","/users/#{task.user_id}") %>
          </div>
          <div>
          <%= link_to(task.content, "/tasks/#{task.id}") %>
          </div>
        
          <div class="post-details">
            <%= "担当者：#{task.doer}" %>
          </div>
          <div class="post-details">
            <%= "納期：#{task.deadline.strftime("%Y年%m月%d日") }" %>
          </div>      
          <div class="post-details">
            <%= "登録日時：#{task.created_at.strftime("%Y年%m月%d日 %H時%M分") }" %>
          </div>
          <div class="post-details">
            <%= "更新日時：#{task.updated_at.strftime("%Y年%m月%d日 %H時%M分") }" %>
          </div> 
        </div>
        
        <div class="post-menus">
        <%= link_to("編集", "/tasks/#{task.id}/edit") %>
        <%= link_to("削除", "/tasks/#{task.id}/destroy",{method:"post"}) %>
        </div>
      </div>
    <% end %>
  </div>
</div>