<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      
      <div class="post-user-name">
        <!-- ここにユーザー名とタスク画像を表示してください -->
        <img src="<%= "/task_images/#{@task.image_name}" %>">
        <%= link_to("登録ユーザー：#{@user.name}","/users/#{@user.id}") %>
      </div>
      
      <p>
        <%= @task.content %>
      </p>

      <div class="post-time">
        <%= "担当者：#{User.find_by(id:@task.doer).name}" %>
      </div>
      <div class="post-time">
        <%= "納期：#{@task.deadline.strftime("%Y年%m月%d日") }" %>
      </div>      
      <div class="post-time">
        <%= "登録日時：#{@task.created_at.strftime("%Y年%m月%d日 %H時%M分") }" %>
      </div>
      <div class="post-time">
        <%= "更新日時：#{@task.updated_at.strftime("%Y年%m月%d日 %H時%M分") }" %>
      </div>

      <%# 編集リンク %>
      <div class="post-menus">
      <%= link_to("編集", "/tasks/#{@task.id}/edit") %>
      <%= link_to("削除", "/tasks/#{@task.id}/destroy",{method:"post"}) %>
      </div>


    </div>
  </div>
</div>