<div class="main users-new">
  <div class="container">
    <div class="form-heading">新規ユーザー登録</div>
    <div class="form users-form">
      <div class="form-body">
        <% @user.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>

        <%# <%= form_tag("/users/create") do %>
        <%= form_with(model: @user, url:'/users/create' , local: true) do |form| %>
          <p>ユーザー名</p>
          <%= form.text_field :name,{class: "input"} %>
          <%# <input name="name" value="<%= @user.name %>
          
          <p>メールアドレス</p>
          <%# <input name="email" value="<%= @user.email %>
          <%= form.email_field :email,{class: "input"} %>

          <p>パスワード</p>
          <%# <input name="password" type="password" value="<%= @user.password %>
          <%= form.password_field :password,{class: "input"} %>

          <%= form.submit "登録" , {class: "input"}%>
        <% end %>
      </div>
    </div>
  </div>
</div>